@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Razor
@model YourModelNamespace.YourModel

@page
@{
    ViewData["Title"] = "Home";
    }

    <div class="text-center">
	        <h1 class="display-4">Hello, michael!</h1>
    </div>

